
###> symfony/framework-bundle ###
/.env
/.env.test
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
#!public/static_images/
#/public/
!public/

public/*
!public/index.php
!public/manifest.webmanifest
!public/static_images/
!public/static_images/*

#/public/images/
#/public/app.css
#/public/app.js
#/public/entrypoints.json
#/public/manifest.json
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

.idea/