.container {
    margin: 5em auto;
}

.container.xs {
    max-width: 500px;
}

.container.sm {
    max-width: 700px;
}

.container.md {
    max-width: 900px;
}

.container-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert {
    position: fixed;
    bottom: 1em;
    left: 1em;
    margin: 0;
    z-index: 10005;
    height: 0;
    transform: scaleY(0);
    transform-origin: bottom;
}

.alert.show {
    height: auto;
    transform: scaleY(1);
    transition: all ease 300ms;
}

@media (max-width: 576px) {
    .container {
        margin: 2em auto;
    }

    .container h1 {
        text-align: center;
        font-size: 2rem;
    }

    .container h2 {
        font-size: 1.5rem;
    }

    .container-horizontal {
        flex-direction: column;
    }

    .container-horizontal > *:first-child {
        margin-bottom: 1rem;
    }

    .alert {
        right: 1em;
    }

    .alert strong {
        margin-right: 0.5em;
    }
}