.navbar .logo {
    width: 269px;
    height: auto;
}

nav .navbar-nav > li > a, nav .navbar-nav > li > div {
    color: white !important;
}

nav .navbar-nav > li > a:hover, nav .navbar-nav > li > div.nav-link:hover {
    opacity: 0.5;
}

.navbar .dropdown-item.logout {
    cursor: pointer;
}

.navbar .nav-item {
    min-height: 62px;
    display: flex;
    align-items: center;
}

.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.dropdown-item {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .navbar .navbar-nav:not(.justify-content-end) .nav-item {
        display: table;
        width: 100%;
        background-color: transparent;
    }

    .navbar .navbar-nav:not(.justify-content-end) .nav-item .nav-link {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    .navbar .navbar-nav.justify-content-end .nav-item {
        justify-content: center;
    }

    .navbar .navbar-nav.justify-content-end .nav-item .btn {
        margin-right: 0 !important;
    }
}

@media (max-width: 767px) {
    .navbar .logo {
        width: 85px;
    }
}