#map-view {
    width: 100%;
    height: 500px;
}

@media (max-width: 375px) {
    .container-pluvio-view {
        position: fixed;
        top: 100px;
        bottom: 1em;
        left: 1em;
        right: 1em;
        display: flex;
        flex-direction: column;
    }

    .container-pluvio-view .container-map-view {
        position: relative;
        flex: 1;
    }

    #map-view {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: initial;
    }
}