<html>
    <head></head>

    <body>
        <img src="{{ email.image('@static_images/dopp_logo_black_h_60.png') }}"/>
        <h1>Réinitialisation de votre mot de passe</h1>
        <p>Veuillez cliquer sur ce lien :</p>
        <a href="{{ url('verify_reset_password', { 'token': token }) }}">Réinitialisation du mot de passe</a>
    </body>
</html>